<link href="<?=$cfg->css_file ?>" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1251" />

<script language='javascript'>
function element(id)
{
if(document.getElementById)
return document.getElementById(id);
if(document.all)
return document.all(id);
if(document.layers)
return document.layers(id);
}


</script>

<meta name="title" content="Маркетимхо.ру - Сохраняйте свои деньги.">
<meta name="description" content="Сохраняйте чеки. Анализ цен в магазинах. Где дешевле купить.">
<meta name="keywords" content="продукты, цены, товары, дешевле, наценка, салаты, крупы, чеки">
<meta name="url" content="http://marketimho.ru">
<meta name="robots" content="all">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name='yandex-verification' content='63c27102242d9ffc' />

<base href='<?=$cfg->publicUrl ?>'/>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type='text/javascript' src='js/jquery.autocomplete.js'></script>

<link rel="stylesheet" type="text/css" href="css/jquery.autocomplete.css" />
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<?
  if ($curUser)
  DbManager::postUserActive();
?>
