<div style='padding-left:40px;padding-top:0px;'>
  <table cellpadding=2 cellspacing=0 border=0 width='199' height='82' style='border-bottom:1px solid #E5B1A9;border-right:1px solid #E5B1A9;'>
  <tr>
   <td class='menu_capt' valign='top' align='right'>
   меню
   </td>
   <td valign='top'>
    <table cellpadding=2 cellspacing=0 border=0 class='menu_itm' style='padding-bottom:15px;'>
       <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href=''>главная</a></td>
     </tr>
     <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href='articles/agreement'>правила</a></td>
     </tr>
     <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href='articles/faq'>FAQ</a></td>
     </tr>


     <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href='service/add_check'>добавить чек</a></td>
     </tr>
     <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href='shop_list'>пункты продаж</a></td>
     </tr>
     <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href='products'>товары</a></td>
     </tr>
     <tr>
      <td><img src='pict/menu_decor.gif'/></td><td><a href='reports'>отчёты</a></td>
     </tr>
     <tr>
      <td><img src='pict/menu_decor.gif'/></td>
      <td>
       <a href='http://forum.gorcer.com/viewforum.php?f=42' target=_blank>форум</a>
      </td>
     </tr>

     <tr>
      <tr>
      <td>&nbsp;</td>
     </tr>
     <tr>
    <!--  <td><img src='pict/search_icon.gif'/></td><td><a href='service/search'>РїРѕРёСЃРє</a></td> -->
     </tr>
    </table>

   </td>
  </tr>


  </table>
</div>
