<h1>Тратить меньше это просто.</h1>

<div class='txt'>
Суть этого проекта - в совместном обмене информацией о ценах на товары общего потребления.<br/><br/>
Сделав покупки в магазине, не спешите выбрасывать чек.<br/>
На нашем сайте вы можете занести в базу детализацию своего чека и увидеть насколько вы переплатили или наоборот выгоднее купили товар.<br/>
Информация строится на основании уже забитых вами ранее чеках.<br/>
<br/>
Для того чтобы иметь более обширные данные для принятия решения, вы можете обмениваться информацией с друзьями. <br/>
Это исключит подтасовку цен, так как вы будете видеть информацию только по своим чекам и по чекам друзей.
Таким образом, вы можете управлять достоверностью и актуальностью информации.
<br/>
По мере увеличения вашей активности на сайте Вам будут открываться новые варианты отчётов, позволяющие вам анализировать текущую ситуацию на рынке.
<br/>
<br/>
Зарегистрируйтесь на сайте и заполните свой первый чек.


<h1>Популярные магазины:</h1>
<?


$ShopList = DbManager::getShopListByCity($nav_city_id, 'by_rating');

$i=0;
foreach ($ShopList as $shop)
{
if ($i!=0) echo ', ';
$i++;

?>
 <a href='shop/<?=$shop->ShopId ?>/pricelist'><?=$shop->ShopName ?> <?=$comment_img ?></a>
<?
if ($i==15) break;

 }
?>
</div>
