<div style='padding-left:60px;'>
<div style='padding-bottom:10px;' class='menu_capt'>Друзья проекта</div>
<table width='170px' border=0 class='txt' cellpadding=2>
<tr>
 <td>
<img src='http://imhognito.net/pict/favicon.ico' border=0/>
 </td>
 <td valign='center'>
  <a href='http://imhognito.net' target='_blank'>
  Конструктор друзей
  </a>
 </td>
</tr>
<tr>
 <td>
<img src='http://auto-imho.ru/favicon.ico' border=0/>
</td>
 <td valign='center'>
 <noindex>
 <a href='http://auto-imho.ru' target='_blank'>
АВТО-ИМХО.РУ
</a>
 </noindex>
</td>
</tr>
</table>
</div>
<br/><br/><br/>

