<?
  if (!$curUser) {
?>
 <div class='error'>¬ы не можете просматривать эту страницу пока не зашли на сайт.</div>
<?
return;
}

if (!isset($_REQUEST['product_id'])) return;
if (!isset($_REQUEST['shop_id'])) return;


if (!$curUser) return;
$product_id =intval($_REQUEST['product_id']);
$shop_id =intval($_REQUEST['shop_id']);

$Product = DbManager::getProductByID($product_id);
$Shop = DbManager::getShopByID($shop_id);
$id=$product_id;

$BuyList = DbManager::getProductPriceDinamic($product_id, $shop_id);
?>

<div class='prodinf_head'><a href='shop/<?=$Shop->id ?>'><?=$Shop->name ?></a> :: <a href='product/<?=$Product->id ?>'><?=ucfirst($Product->name) ?></a></div>
<br/>
<?
 include ('template/nav_product.html');
?>
<br/>
<div class='prodinf_capt' style='float:top;'>ƒинамика цен на товар</div>
<?

if (sizeof($BuyList)==0)
{
?>
  <div class='txt'>
  ¬ы не совершали покупок этого товара, а следовательно не можете видеть отчЄт по расходам.
  </div>
<?
return;
}

?>



 <script language="javascript" type="text/javascript" src="js/jquery.flot.js"></script>

 <div id="placeholder" style="width:100%;height:300px;"></div>



 <script id="source" language="javascript" type="text/javascript">

$(function () {


    var d1 = [];
    <?
    foreach($BuyList as $buy)
    {

//    $buy->dtm = date("F j, Y, g:i a",$buy->dtm);
$dtm = strtotime($buy->dtm) * 1000;
    ?>
        d1.push(["<?=$dtm ?>", <?=$buy->price ?>]);

    <?
      }
    ?>

    $.plot($("#placeholder"),  [
    { data: d1,
    lines: { show: true },
    points: { show: true }

     }
    ],
     {
    xaxis: {
            mode: "time",
            timeformat: "%d.%m.%y"
            }
     }
    );
});
</script>
<br/>
<div class='prodinf_capt' style='float:top;'>»сходные данные</div>
<table cellpadding=3 cellspacing=0 class='txt' width='250px'>
<tr>
 <th align='left'>дата</th>
 <th align='left'>пользователь</th>
 <th>цена за ед.</th>
</tr>
<?

    foreach($BuyList as $buy)
    {
       ?>

<tr>
 <td><?=$buy->dtm2 ?></td>
 <td><?=$buy->login ?></td>
 <td align='center'><?=$buy->price ?> руб.</td>
</tr>
       <?
    }

?>
</table>