

<h1>Отчёты</h1>

<table cellpadding=10 cellspacing=5 class='txt'>
 <tr>
  <td align='center' valign='top'>
   <a href='mouth_report'>
   <img src='pict/graph_active.jpg' border=0/> <br/>

    Сводные отчёты по персональным расходам
    </a>

  </td>
  <td align='center'  valign='top'>

   <img src='pict/graph_inactive.jpg' border=0/> <br/>
    Динамика цен на товары

  </td>

  <td align='center'  valign='top'>
   <img src='pict/graph_inactive.jpg' border=0/> <br/>
    Объёмы продаж магазнов
  </td>

 </tr>
</table>

<div class='hint' style='width:90%'>
Доступ к отчётам будет для вас открываться по мере увеличения вашей активности на сайте.
</div>